@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-spinner {
  border: 3px solid transparent;
  border-top: 3px solid #a19e9b;
  border-radius: 75%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
